.edit-client form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

.edit-client h3{
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    color: #2C2B2B;
    font-size: 35px;
    text-align: center;
}

.edit-client form input{
    width: 50%;
}

.edit-client form select{
    background: white;
    width: 50%;
}