.content_invoice-list-component{
    background: white;
    display: flex;
    width: 90%;
    margin: 20px auto;
    box-shadow: 1px 1px 2px #2C2B2B;
}

.content_invoice-list-component div{
    margin: auto;
}

.content_invoice-list-component .data{
    background: #EDEBEB;
    width: 20%;
    padding: 10px 0;
    text-align: center;
}

.content_invoice-list-component .data:nth-child(1){
    width: 10%;
}

.content_invoice-list-component .data:nth-child(2){
    width: 10%;
}