.products form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

.products .content_input-textarea-button{
    display: flex;
    flex-direction: column;
}

.products .content_input-textarea-button .content_textarea{
    display: flex;
    justify-content: center;
}

.products form textarea{
    position: relative;
    background: white;
    width: 80%;
    height: 100px;
    min-width: 80%;
    min-height: 100px;
    max-width: 80%;
    max-height: 100px;
    padding: 10px;
    box-sizing: border-box;
}

.products .content_input-textarea-button button{
    position: relative;
    margin: auto;
    width: 40%;
}

.products h3{
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    color: #2C2B2B;
    font-size: 35px;
    text-align: center;
}

.content_list-product .list-product{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
  
.content_list-product .list-product td, th {
    border: 1px solid white;
    padding: 8px;
}

.content_list-product .list-product th {
    font-family: 'Anton', sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #FF130B;
    color: white;
}

.content_list-product .list-product td{
    font-family: 'Open sans', sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    color: #2C2B2B;
}