.navbar{
    background: #2C2B2B;
    position: relative;
    width: 100%;
    height: 50px;
}

.menu{
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_menu{
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
}

.item_menu:hover{
    background: #0069d9;
}

.menu .item_menu span{
    position: relative;
    left: -5px;
}